.container{
  margin-top: 120px;
}

h5 {
  padding-top: 20px;
}

form {
  background-color: rgba(0, 0, 0, .75);
  border-radius: 3px;
}

.text-center {
  padding-bottom: 20px;
}

input, label {
  color: #fff;
}

.md-form {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}
